// Color
color-background = #eee
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #258fb8

// Font
font-default = "Computer Modern Unicode", "LXGW WenKai Screen", "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Computer Modern Unicode", "LXGW WenKai Screen", "Georgia", serif
font-mono = "Computer Modern Unicode", "LXGW WenKai Screen",  Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Lato", Helvetica Neue, Helvetica, "LXGW WenKai Screen", Arial, sans-serif
font-code = "Consolas", monospace

@import url("//fonts.loli.net/css?family=Helvetica Neue:400,400italic&display=swap")
@import url("//fonts.loli.net/css?family=Lato:400,400italic&display=swap")
@import url("//fonts.loli.net/css?family=Consolas:400,400italic&display=swap")

@import url("//cdnjs.loli.net/ajax/libs/lxgw-wenkai-screen-webfont/1.6.0/style.min.css")

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

@font-face {
    font-family: 'Computer Modern Unicode';
    font-style: normal;
    font-weight: 400;
    src: url('font/cmu/cmunorm.woff2') format('woff2'), url('font/cmu/cmunorm.ttf') format('truetype'), local('Computer Modern Unicode');
    font-display: swap;
    size-adjust: 100%;
}

@font-face {
    font-family: 'Computer Modern Unicode';
    font-style: italic;
    font-weight: 400;
    src: url('font/cmu/cmunoti.woff2') format('woff2'), url('font/cmu/cmunoti.ttf') format('truetype'), local('Computer Modern Unicode');
    font-display: swap;
    size-adjust: 115%;
}

// Width
page-width = 1200px